/*.heading_style {
  text-align: center;
  color: indigo;
  padding-bottom: 1em;
}

.slotmachine {
  padding: 0.5em;
}
.slot_inner {
  border: 1px solid black;
  margin-left: 25em;
  margin-right: 20em;
  text-align: center;
  background-color: burlywood;
  color: green;
}
span {
  font-weight: bold;
}
*/

h1 {
  color: blue;
  margin-left: 10em;
  align-content: center;
}
